/*default*/
* {
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-size: 20px;
	color: #444;
	z-index: 0;
}
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul, h3 {
	margin: 0;
	display: block;
}
a {
	text-decoration: none;
	color: #444;
}

p {
	margin:0;
	padding: 0;
}

/*header*/

header {
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: #edb2b577;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	transition: all .3s ease;
	z-index: 1;
	font-size:24px;
}

.out {
	transform: translateY(-100%);
}

.head__menu {
	display: flex;
	justify-content: center;
	height: 100%;
	padding-left: 0;
}

.head__button {
	display: block;
	text-align: center;
	padding-left:2em;
	padding-right:2em;
	height: 100%;
	line-height: 60px;
}

.head__button img{
	 height: 20px;
	 width: 50px;
}

.head__button:hover {
	background-color: #E96656;
	color: white;
	transition: background-color 0.5s, color 0.3s;
}

/*main*/

main {
	margin: 10px 0;
	margin-top: 0;
}

main h1 {
	text-align: center;
	color: #ff3300;
}

/*Верх с анимацией*/

.face {
	display: flex;
	justify-content: flex-start;	 
	height: 690px;
}

.f-left {
	width: 50%;
}

.f-anim {
	width: 50%;
	background-color: #eeeeee69;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d4404ac2;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
  }

/* Достижения */

.cards , .team{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	margin: 0 7%;
}

@media (max-width: 1130px) { 
	.cards, .team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0 7%;
	} 
}

@media (max-width: 876px) { 
	.cards, .team {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0 7%;
	} 
}

.card {
	display: flex;
	flex-direction: column;
	padding: 4%;
	text-align: center;
	/*border: 2px solid #FF6347;*/
	box-shadow: 0 0 16px 0 rgb(51 51 51 / 20%);
	/*border-radius: 15px;*/
	background-color: #fff;
	color: #5a5a5a;
	min-width: 230px;
	max-width: 360px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px;
}	

.card img {
	display: block;
	margin: 0 auto;
}

/* волны */  
.container {
	position:relative;
	width: 100%;
	height: 120px;
	/*background: linear-gradient(to bottom,#fff,#fff 50%, #DDD);*/
	margin: 0 auto;
	margin-top: 60px;
	overflow: hidden;
  }
  
  .waveBox {
	width: 820px;
	height: 900px;
	border-radius: 50%;
	position: absolute;
	animation: waver 5s .5s infinite linear;
	background-color: #D9EBF0;
	opacity: .8;
	left: -150px;
	/*top: 50px;*/
	transform-origin: center, center;
  }
  
  @keyframes waver {
	0% {
	  transform: translatez(.1px) rotate(0deg);
	}
	
	100% {
	  transform: translatez(.1px) rotate(360deg);
	}
  }
  
  #waveTwo {
	background-color: #d4404a;
	opacity: .8;
	left: -450px;
	animation: waver 5s infinite linear;
  }
  
  #waveThree {
	background-color: #FF6347;
	opacity: .5;
	left: 150px;
	animation: waver 5s 1.5s infinite linear;
  }
  #waveOne {
	background-color: #e96756a2;
  }
  
  .right3 {
	left: 900px !important;
  }
  .right2 {
	left: 350px !important; 
  }
  .right1 {
	left: 550px;
  }

/* волны cнизу*/

.container2 {
	position:relative;
	width: 100%;
	height: 120px;
	/*background: linear-gradient(to bottom,#fff,#fff 50%, #DDD);*/
	margin: 0 auto;
	overflow: hidden;
  }

  .container2 .waveBox {
	width: 820px;
	height: 900px;
	border-radius: 50%;
	position: absolute;
	animation: waver 5s .5s infinite linear;
	background-color: #D9EBF0;
	opacity: .8;
	left: -150px;
	top: -780px;
	transform-origin: center, center;
  }
  
  @keyframes waver {
	0% {
	  transform: translatez(.1px) rotate(0deg);
	}
	
	100% {
	  transform: translatez(.1px) rotate(-360deg);
	}
  }
  
  .container2 #waveTwo {
	background-color: #d4404a;
	opacity: .8;
	left: -450px;
	animation: waver 5s infinite linear;
  }
  
  .container2 #waveThree {
	background-color: #FF6347;
	opacity: .5;
	left: 150px;
	animation: waver 5s 1.5s infinite linear;
  }
  .container2 #waveOne {
	background-color: #e96756a2;
  }
  
  .container2 .right3 {
	left: 900px !important;
  }
  .container2 .right2 {
	left: 350px !important; 
  }
  .container2 .right1 {
	left: 550px;
  }



/* Секция с игрой */

.popAndPoop {
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-row-gap: 10px;
	margin: 0 7%;
	
}

.game-animation {
	text-align: center;
}

.game-description {
	text-align: center;
	box-shadow: 0 0 16px 0 rgb(51 51 51 / 20%);
}

.screenshots {
	margin: 0 auto;
	padding: 0 10%;
	text-align: center;
	color:#FF4500;
}
/* download section */

.download {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	margin: 3em 0;
	margin-bottom: 1em;
	background-image: url("../img/popcornblur.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	padding-bottom: 5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.download h1 {
	color: #fee;
	margin-top:1em;
}

.links {
	display: flex;
	margin: 1em auto;
	text-align: center;
	gap: 2em;
}

.warning {
	color: rgba(255, 0, 0, 0.575);
	text-decoration: underline;
}
/* team */

.team .card img {
	border-radius: 50%;
}

/* Форма */

.form {
	/*border: 1px solid purple;*/
	display: flex;
	flex-direction: column;
	background-image: url("../img/narutoshitblur.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	padding: 3em 12em;
	margin-top:15px;
}

.form h1 {
	color: #eee;
}

.form__window {
	background: linear-gradient(45deg, #f2998763, #ff541b63);
	border-radius: 25px;
	padding: 1em 1.5em;
}

.form__holder {
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-bottom: 15px;
}

.form input, .form textarea {
	border: 2px solid #999;
	border-radius: 3px;
	font-size: 18px;
	padding: 5px;
}

.form label {
	padding-bottom: 5px;
	color: white;
}

input:focus {
	border-color: none;
	border-color: rgba(200, 0, 0, 0.8);
	outline: rgba(200, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(200, 0, 0, 0.5);
}

#submit-form-button {
	color:#dadada;
	font-weight: 700;
	width: 14em;
	height: 4em;
	background-color: #e96756a2;
	border: none;
}

#submit-form-button:hover {
	border: 4px solid #ff1e00a2;
	background-color: #e9675600;
	color:rgb(247, 183, 183);
	transition: all 0.3s;
}

/*footer*/
footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 15px 10%;
	border-bottom: 2px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer h2 {
	font-size: 36px;
	color: #FF4500;
}

.footer__title_border {
	display: block;
	width:165px;
	height: 2px;
	background-color: #dadada;
	margin-top:24px;
	margin-bottom: 10px;
}

.contacts {
	padding-right: 100px;
}

.footer_contacts {
	display: flex;
	margin: 5px auto;
	margin-top: 20px;
}

.footer__info {
	display: flex;
	padding: 15px 0;
	margin: 0;
}

.footer__info p, .footer__info a {
	color: #575757;
	padding-left: 15px;
	margin:auto 0;
}

.contact_item {
	display: block;
	padding: 10px;
	font-size: 24px;
}

/*.contact_item:nth-child(1):hover { }
.contact_item:nth-child(2):hover { }
.contact_item:nth-child(3):hover { }
.contact_item:nth-child(4):hover { } */

.footer__bottom {
	margin-top: 10px;
	text-align: center;
}

.footer__bottom p {
	padding: 5px;
}